input{
    font-size:13px;
    font-weight:bold;
    padding:5px;
    margin:5px;	
        }	
        
table{
    background: rgb(0, 0, 0);
    height: 250px;
    width: 500px;
    margin: 30px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-style: solid
}
 #scientificCalc11  #results{
     width:200px;
     background-color:rgb(221, 219, 219);
     height:30px;
     margin:50px;
     padding:5px;

}
